/* nadpis:Lobster
gradient: #615dad, #ffc8da
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9. */

.heading {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  margin: 0;
  padding: 0;
}

.content {
  color: white;
  background-color: #283e50;
  margin: 0;
  padding: 0;
}

.image {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  padding: 0;
  margin: 0;
}

.button__rules {
  list-style: none;
  text-align: center;
  background-color: #1fcca4;
  padding: 0;
  border-bottom: 1px solid black;
}

.button__start {
  list-style: none;
  text-align: center;
  background-color: #0197f6;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: auto;
  padding-left: auto;
  font-size: 16px;
}

.content__text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 10px 20px 40px 20px;
  margin: 0;
}

.button__rules:hover,
.button__rules:focus {
  background-color: #1cbb96;
}

.button__start:hover,
.button__start:focus {
  background-color: #0090e9;
}

@media only screen and (min-width: 600px) {
  .content {
    margin: 100px;
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 25%;
  }
  .content__text {
    padding: 30px 30px 60px 30px;
  }
}
