/* nadpis:Lobster
gradient: #615dad, #ffc8da
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9. */




.heading {
  font-family: 'Lobster', cursive;
  text-align: center;
}

 /*body {
  background-image: linear-gradient(#615dad, #ffc8da);
}*/

.content {
  background-color: #283e50;
  color: white;
}

.image {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}


.button__rules {
  text-decoration: none;
  color: white;
  display: inline-block;
}

 .button__start {
  text-decoration: none;
  color: white;
  display: inline-block;
 }



.content__text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
