html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.heading {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  color: white;
  background-color: #283e50;
  margin: 0;
  padding: 0;
  width: 400px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.buttons {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  padding: 0;
  margin: 0;
}

.button__rules {
  list-style: none;
  text-align: center;
  background-color: #1fcca4;
  padding: 0;
  border-bottom: 1px solid black;
}

.button__start {
  list-style: none;
  text-align: center;
  background-color: #0197f6;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: auto;
  padding-left: auto;
}

.content__text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 10px 20px 40px 20px;
  margin: 0;
}

.button__rules:hover,
.button__rules:focus {
  background-color: #1cbb96;
}

.button__start:hover,
.button__start:focus {
  background-color: #0090e9;
}

/* nadpis:Lobster
gradient: #615dad, #ffc8da
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9. */

/*stylování pravidla.html*/

.container__rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  font-weight: normal;
  padding: 40px 20px 10px 20px;
}

body {
  color: white;
  font-size: 18px;
}

.instruction {
  width: 100%;
}

.content__rules {
  color: white;
  background-color: #283e50;
  padding: 0;
  width: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rules__list {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  padding: 0 50px;
}

.rules__list li {
  padding: 5px;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  padding-top: 5px;
}

.icon {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

figure {
  padding: 10px 0;
}

@media only screen and (min-width: 750px) {
  .content__rules {
    width: 700px;
  }

  .container__rules--images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
  }

  figure {
    width: 50%;
    align-self: baseline;
    margin: 0;
    padding: 10px;
  }
  figcaption {
    padding-top: 10px;
  }
}

/*stylování hra.html*/

.container__grid {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  grid-template-rows: repeat(10, 55px);
  justify-content: center;
}

.content__game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90px;
  justify-content: space-between;
}

.icon {
  align-self: center;
}

.tabs__play {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin: 0;
  display: flex;
}

.tabs__play::after {
  content:"";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  filter: invert(100%);
  width: 70px;
  height: 50px;
  margin-bottom: 15px;

}

.icon__homepage {
  background-color: #1fcca4;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;


}

.icon__restart {
  background-color:  #0197f6;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

button {
  border: 1px solid black;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

button:hover,
button:focus {
  filter: brightness(120%);

}




.icon__homepage:hover,
.icon__homepage:focus {
  background-color: #1cbb96;
}

.icon__restart:hover,
.icon__restart:focus {
  background-color: #0090e9;
}

.heading__game {
  margin-top: 50px;
  margin-bottom: 0;
}

.body {
  max-width: 80vmin;
  margin: auto;
}











